* {
  overflow-x: hidden;
}

.click:hover {
  color: #0fccce;
}
.click {
  color: #3d4852;
  cursor: pointer;
}

.item1 {
  /* position: relative; */
}
.item1 {
  transform: rotate(-12deg);
  color: #0fccce;
  font-size: 21px;
  /* position: absolute; */
}
.item2 {
  transform: translateX(90px);
  /* margin-top: -12px; */
  color: #0fccce;
  font-size: 21px;
  /* position: absolute; */
}
.item3 {
  transform: translateY(-15px) translateX(20px);
}
.item4 {
  transform: translateY(150px);
}
@media screen and (max-width: 726px) {
  .general {
    text-align: center;
  }
}

@media screen and (max-width: 987px) {
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .AllAnim {
    background-color: red;
    /* display: flex; */
  }
  .AllAnim:nth-child(2) {
    width: 12;
  }
  .AllAnim .div {
    width: 10;
    color: black;
  }
  .custom {
    background-color: pink;
    width: 30vw;
    height: 30vh;
  }
}

@media screen and (min-width: 573px) {
  .alignment {
    text-align: center;
  }
  .callW {
    width: 60%;
  }
}
